/*variables*/
:root {
   --black: rgb(23, 23,23);
}

/*utilities*/
.button {
   display: block;
   padding: 0.5rem 1rem;
   text-decoration: none;
   border-radius: 4px;
   text-align: center;
   transition: all 300ms;
}
.button-white {
   background-color: gray;
   color:black;
}

.button:hover {
   transform: scale(1.1);
}
.flex-wrap {
   display: flex;
   flex-wrap: wrap;
}
.space-evenly {
   justify-content: space-evenly;
}
.responsive-img {
   width: 100%;
   height:auto;
}

.hide {
   display: none;
}

.float {
   float: left;
}




/*app specific*/
head, body {
   margin:0;
   padding: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: floralwhite;
}
.container {
   width: 100%;
   position:relative;
}
.page-header, .page-footer {
   background-color: green;
   color: black;
   padding: 1rem;
}

.page-footer {
   text-align: center;
}
.page-title {
   margin:0;
   text-align: center;
}
.icon {
   vertical-align: middle;
}
ul {
   list-style-type: none;
   padding:0;
}

main {
   padding: 1rem 2rem;
}
#map {
   width: 100%;
   height: 40vh;
   overflow: hidden;
}

.boxes {
   width: 100%;
}

.box {
   padding: 1rem;
   font-size: x-small;
}

#map, .box {
   border-radius: 6px;
   box-shadow: darkgrey 3px 3px 10px ;
   margin-bottom: 1rem ;
}

.box h2, .box figure {
   margin: 0;
   padding: 0;
}

.box table {
   width: 100%;
   text-align: center;
   border: black solid 1px;
   border-radius: 4px;
}

.box li {
   width: calc(50% - 0.6rem);
   text-align: center;
   border: black solid 1px;
   border-radius: 4px;
   box-sizing: border-box;
   padding: 0.3rem;
   margin: 0.3rem;
}

.box img {
   height: 3rem;
}

.goal {
   background-image: url("../img/splatter.png");
   background-size: contain;
   background-repeat: no-repeat;
   padding: 9rem 7rem;
   text-align: center;
   position: absolute;
   bottom: 30%;
   filter: drop-shadow(0 0 30px darkgray);
   transform: rotate(340deg);
   line-height: 1rem;
}

.goal h2, .goal p {
   margin: 0.5rem;
}

#player-modal {
   width: 100vw;
   height: 100vh;
   background-color: rgba(0,0, 0, 8);
   position: absolute;
   top: 0;
}

#player-form {
   display: flex;
   width: 50%;
   margin: 4rem auto;
   flex-direction: column;
}

#player-form input {
   padding: 1rem;
}

.done {
   background-color: lightgray;
}

#weather {
   border-spacing: 0;
}

#weather td {
   padding: 0.3rem;
}

#weather td:first-child, #weather td:nth-child(2){
   border-right: gray 1px solid;
}

.lead-img {
   width: 100%;
   margin: 0 0 1rem 0;
}

@media screen and (min-width: 769px) {
   .box {
      font-size: initial;
   }

   #map {
      width: 40%;
      height: initial;
   }

   .boxes {
      width: 60%;
      padding-left: 1rem;
      box-sizing: border-box;
   }
}
